<script src="pages/user-profile-page/user-profile-page.component.ts"></script>

<aside class="left-side">
  <div class="top-bar logo"><i class="material-icons">clear</i>CMS</div>
  <div class="user">
    <div class="user-main-logo"></div>
    <div>
      <div class="active-user-name">Urszula Kaźmierczyk</div>
      <div class="active-user-job-title">Manager</div>
    </div>
  </div>
  <a href="/user-profile" class="menu-listing">
    <div class="icon">
      <i class="material-icons">person_outline</i>
    </div>
    Dane osobowe
  </a>

  <a href="" class="menu-listing">
    <div class="icon"><i class="material-icons">view_list</i></div>
    <div>Raporty</div>
    <div class="dropdown-icon"><i class="material-icons">expand_more</i></div>
  </a>
  <ul class="reports">
    <a href="/contracts"><div class="icon"></div>Pracownicy</a>
    <a href="/projects"><div class="icon"></div>Projekty</a>
  </ul>
  <a href="/statistics" class="menu-listing">
    <div class="icon"><i class="material-icons">trending_up</i></div>
    Statystyki
  </a>
</aside>


<router-outlet></router-outlet>

