
<header class="top-bar right-side">
  <nav>
    <div class="tab">Zespół</div>
    <div class="tab">Umowy</div>
    <div class="tab">Dane adresowe</div>
  </nav>
</header>
<aside class="left-side">
  <div class="top-bar logo"><i class="material-icons">clear</i>CMS</div>
  <div class="user">
    <div class="user-main-logo"></div>
    <div>
      <div class="active-user-name">Urszula Kaźmierczyk</div>
      <div class="active-user-job-title">Frontend Developer</div>
    </div>
  </div>
  <a href="profile.html" class="menu-listing">
    <div class="icon">
      <i class="material-icons">person_outline</i>
    </div>
    Dane osobowe
  </a>
  <a class="menu-listing">
    <div class="icon"><i class="material-icons">view_list</i></div>
    <div>Raporty</div>
    <div class="dropdown-icon"><i class="material-icons">expand_more</i></div>
  </a>
  <ul class="reports">
    <a href="index.html"><div class="icon"></div>Pracownicy</a>
    <a><div class="icon"></div>Projekty</a>
  </ul>
  <a class="menu-listing">
    <div class="icon"><i class="material-icons">trending_up</i></div>
    Statystyki
  </a>
</aside>

<section class="right-side">
  <router-outlet></router-outlet>
</section>
