body {
  font-family: 'Roboto', sans-serif;
  outline: none;
  position: fixed;
  height: 100vh;
  min-height: 700px;
  width: 100vw;
  box-sizing: border-box;
  background-color: #fff;
}
.top-bar {
  height: 70px;
}
.right-side {
  position: fixed;
  width: 79.7vw;
  right: 0;
  min-height: 250px;
}
@media (max-width: 1300px) {
  .right-side {
    width: calc(100vw - 260px);
  }
}

header {
  height: 70px;
  position: absolute;
  background-color: rgba(254, 254, 254, 1);
}

nav {
  height: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 3.2%;
  color: rgba(171, 182, 186, 1);
  text-transform: uppercase;
}
.tab {
  float: left;
  padding: calc(80px * 0.345) 15px calc(80px * 0.265) 15px;
  margin: 0 2%;
}
