/*reports-style.css*/

a.tab:nth-child(3) {
  color: rgba(29, 31, 49, 1) !important;
  border-bottom: solid 4px rgba(214, 66, 99, 1) !important;
  font-weight: 500;
}

.report-table tr td:nth-last-child(4), .report-table tr th:nth-last-child(4) {
  width: 210px;
}
.report-table tr td:nth-last-child(3), .report-table tr th:nth-last-child(3) {
  width: 70px;
}
.report-table tr td:nth-last-child(1), .report-table tr th:nth-last-child(1) {
  width: 0;
}
