<header class="top-bar right-side">
  <nav>
    <a href="/teams" class="tab">Zespół</a>
    <a href="/contracts" class="tab">Umowy</a>
    <a href="/addresses" class="tab">Dane adresowe</a>
  </nav>
</header>

<section class="right-side">
<table class="report-table">
  <tr>
    <th></th>
    <th>Imię i nazwisko</th>
    <th>Ulica i numer domu</th>
    <th>Kod pocztowy</th>
    <th>Miasto</th>
    <th></th>
  </tr>
  <tr *ngFor="let addressOwner of people">
    <td>
      <div class="table-icon"></div>
    </td>
    <td>{{addressOwner.firstName}} {{addressOwner.lastName}}</td>
    <td>{{addressOwner.address.home}} {{addressOwner.address.flat}}</td>
    <td>{{addressOwner.address.postalCode}}</td>
    <td>{{addressOwner.address.city}}</td>
    <td></td>
  </tr>
</table>
</section>
