<header class="top-bar right-side">
  <nav>
    <a href="/projects" class="tab">Projekty</a>
  </nav>
</header>

<section class="right-side">
<table class="report-table">
  <tr>
    <th></th>
    <th>Zleceniodawca</th>
    <th>Cena</th>
    <th>od</th>
    <th>do</th>
    <th>Szczegóły</th>
    <th></th>
  </tr>
  <tr *ngFor="let project of projects">
    <td>
      <div class="table-icon"></div>
    </td>
    <td>{{project.principal}}</td>
    <td>{{project.price}} zł</td>
    <td>{{project.startDate | date: 'dd.MM.yyyy r.' }}</td>
    <td>{{project.endDate | date: 'dd.MM.yyyy r.' }}</td>
    <td>{{project.description}}</td>
    <td class="CLICK">
      <div class="details">
        <i class="material-icons">content_paste</i>
      </div>
    <a (click)="goToTeamDetails(project.id)">
      Zobacz zespół
    </a>
    </td>
  </tr>
</table>
</section>
