.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}
.modal-content {
  background-color: rgba(245, 248, 249, 1);
  height: 52vh;
  max-height: 620px;
  width: 42vw;
  margin: 24vh 29vw;
  border: none;
  border-radius: 4px;
}
.close {
  height: 14px;
  width: 14px;
  align-self: flex-end;
  margin: 3px 10px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  height: 29px;
  font-weight: 600;
  font-size: 22px;
  color:  rgba(68, 75, 78, 1);
  margin:  31px 0 0 35px;
}
.modal-table {
  width: calc(100% - 2*35px);
  right: 35px;
  padding: 0;
  margin: 12px 35px 31px 35px;
}
.modal-table tr {
  border: 2px solid rgba(226, 231, 232, 1);
  border-radius: 4px;
  border: none;
}
.modal-table tr  td {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: rgba(16, 18, 29, 1);
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.modal-table th {
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(171, 182, 186, 1);
  text-decoration: none;
}

.modal-table tr td:nth-child(3), .modal-table tr th:nth-child(3) {
  width: 50%;
}
.modal-table tr td:nth-child(2), .modal-table tr th:nth-child(2) {
  width: 30%;
}
.modal-table tr td:nth-child(1), .modal-table tr th:nth-child(1) {
  width: 60px;
}


a.tab:nth-child(1) {
  color: rgba(29, 31, 49, 1) !important;
  border-bottom: solid 4px rgba(214, 66, 99, 1) !important;
  font-weight: 500;
}

/*styles from app.content.css*/
.top-bar {
  height: 70px;
}
.right-side {
  position: fixed;
  width: 79.7vw;
  right: 0;
  min-height: 250px;
}
@media (max-width: 1300px) {
  .right-side {
    width: calc(100vw - 260px);
  }
}

header {
  height: 70px;
  position: absolute;
  background-color: rgba(254, 254, 254, 1);
}

nav {
  height: inherit;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  padding: 0 3.2%;
  color: rgba(171, 182, 186, 1);
  text-transform: uppercase;
}
.tab {
  float: left;
  padding: calc(80px * 0.345) 15px calc(80px * 0.265) 15px;
  margin: 0 2%;
}

/deep/ .menu-listing[href=""],
/deep/ .menu-listing[href=""] .icon .material-icons,
/deep/ .menu-listing .dropdown-icon {
         background-color: rgba(214, 66, 99, 1);
         color: rgba(255, 255, 255, 1);
       }

/deep/ .reports,
/deep/ .reports .icon .material-icons,
/deep/ a.menu-listing + .reports {
  display: block;
}
