  <script src="contract-list-page.component.ts"></script>

  <header class="top-bar right-side">
    <nav>
      <a href="/teams" class="tab">Zespół</a>
      <a href="/contracts" class="tab">Umowy</a>
      <a href="/addresses" class="tab">Dane adresowe</a>
    </nav>
  </header>

  <section class="right-side">
  <table class="report-table">
    <tr>
      <th></th>
      <th>Imię i nazwisko</th>
      <th>Wynagrodzenie</th>
      <th>Od</th>
      <th>Do</th>
      <th></th>
    </tr>
    <tr *ngFor="let contract of contracts">
      <td>
        <div class="table-icon"></div>
      </td>
      <td>{{contract.person.firstName}} {{contract.person.lastName}}</td>
      <td>{{contract.salary}} zł</td>
      <td>{{contract.startDate | date: 'dd.MM.yyyy r.' }}</td>
      <td>{{contract.endDate | date: 'dd.MM.yyyy r.' }}</td>
      <td>
          <div class="details">
            <i class="material-icons">
              content_paste
            </i>
          </div>
          Zobacz raport

      </td>
    </tr>
  </table>
  </section>
