header {
  height: 70px;
  position: absolute;
  background-color: rgba(254, 254, 254, 1);
}

nav {
  height: inherit;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 3.2%;
  color: rgba(171, 182, 186, 1);
  text-transform: uppercase;
}
a.tab:hover {
  border-bottom: solid 4px rgba(171, 182, 186, 0.6);
}
a.tab:active, a.tab:link, a.tab:visited {
  color: rgba(29, 31, 49, 1);
  text-decoration: none;
}
.tab {
  float: left;
  padding: calc(80px * 0.345) 15px calc(80px * 0.265) 15px;
  margin: 0 2%;
}
.report-table {
  display: flex;
  flex-direction: column;
  width: calc(82vw - 260px);
  margin: 2% 7%;
  overflow-y: auto;
  max-height: 79.5vh;
}
.report-table tr {
  height: 70px;
  width: auto;
  min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(227, 235, 238, 1);
  margin: 6px;
}
.report-table tr:nth-child(1) {
  background-color: transparent;
  box-shadow: none;
}
.report-table tr th, .report-table tr td {
  width: 150px;
  margin: 0 auto;
}
.report-table th {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(171, 182, 186, 1);
}
.report-table td {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgba(16, 18, 29, 1);
  background-color: rgba(255, 255, 255, 1);
}
.report-table td:nth-child(1), .report-table th:nth-child(1) {
  width: 90px;
  margin: 0;
}
.table-icon {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  margin: 0 25px;
  background-color: rgba(222, 68, 101, 1);
}
.report-table tr td:nth-last-child(1), .report-table tr th:nth-last-child(1)  {
  display: inline-block;
  flex-direction: row;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: rgba(102, 104, 122, 1);
  text-decoration: underline;
}
.report-table tr td:nth-last-child(1):hover, .report-table tr td:nth-last-child(1).hover {
  color: rgba(214, 66, 99, 1);
  cursor: hand;
}

.details .material-icons {
  float: left;
  font-size: 20px;
  margin: 0 10px;
  color: rgba(214, 66, 99, 1);
}

@media (max-width: 1200px) {
  .report-table tr th, .report-table tr td {
    font-size: 12px;
    min-width: 70px;
  }
}

input.form-control {
  color: rgba(171, 182, 186, 0.7);
  letter-spacing: 0.04em;
  font-size: 14px;
}
input.form-control#inputTopLimit, input.form-control#inputBottomLimit{
  width: 50%;
  float: left;
}
