<table class="report-table">
  <tr>
    <th></th>
    <th>Imię i nazwisko</th>
    <th>Wynagrodzenie</th>
    <th>Od</th>
    <th>Do</th>
    <th></th>
  </tr>
  <tr>
    <td><div class="table-icon"></div></td>
    <td>Jill Smith</td>
    <td>5000 zł</td>
    <td>02-10-2015</td>
    <td>-</td>
    <td><div class="details"><i class="material-icons">content_paste</i></div>Zobacz raport</td>
  </tr>
  <tr>
    <td><div class="table-icon"></div></td>
    <td>Jane Lucky</td>
    <td>5000 zł</td>
    <td>03-11-2015</td>
    <td>-</td>
    <td><div class="details"><i class="material-icons">content_paste</i></div>Zobacz raport</td>
  </tr>
</table>
