<header class="top-bar right-side">
  <nav>
    <a href="/teams" class="tab">Zespół</a>
    <a href="/contracts" class="tab">Umowy</a>
    <a href="/addresses" class="tab">Dane adresowe</a>
  </nav>
</header>

<section class="right-side">

<table class="report-table">
  <tr>
    <th></th>
    <th>Stanowisko</th>
    <th>Imię i nazwisko</th>
    <th>Od</th>
    <th>Do</th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th><input type="text" id="inputJobTitle" class="form-control" placeholder="stanowisko" [(ngModel)]="jobTitle"></th>
    <th><input type="text" id="inputName" class="form-control" placeholder="imię i/lub nazwisko" [(ngModel)]="firstOrLastName"></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let contractOwners of contracts | JobTitleFilter:jobTitle | NameFilter:firstOrLastName">
    <td>
      <div class="table-icon"></div>
    </td>
    <td>{{contractOwners.jobTitle}}</td>
    <td>{{contractOwners.person.firstName}} {{contractOwners.person.lastName}}</td>
    <td>{{contractOwners.startDate | date: 'dd.MM.yyyy r.' }}</td>
    <td>{{contractOwners.endDate | date: 'dd.MM.yyyy r.' }}</td>
    <td class="CLICK">
      <div class="details">
        <i class="material-icons">content_paste</i>
      </div>
      <a (click)="goToListOfProjects(contractOwners.person.id)">
        Zobacz projekty
      </a>
    </td>
  </tr>
</table>
</section>


