<script src="team-list-page.component.ts"></script>

<table class="report-table">
  <tr>
    <th></th>
    <th>Stanowisko</th>
    <th>Imię i nazwisko</th>
    <th>Od</th>
    <th>Do</th>
    <th></th>
  </tr>
  <tr *ngFor="let contractOwners of contracts">
    <td>
      <div class="table-icon"></div>
    </td>
    <td>{{contractOwners.jobTitle}}</td>
    <td>{{contractOwners.person.firstName}} {{contractOwners.person.lastName}}</td>
    <td>{{contractOwners.startDate | date:'yyyy/MM/dd' }}</td>
    <td>{{contractOwners.endDate | date:'yyyy/MM/dd' }}</td>
    <td><div class="details"><i class="material-icons">content_paste</i></div>Zobacz projekty</td>
  </tr>
</table>
