<section *ngIf="contract, person" class="right-side">
<div class="profile">
  <div class="data row1 col1">
    <div class="user-logo"></div>
    <div class="full-name">{{person.firstName}} {{person.lastName}}</div>
    <div class="full-job-title">{{contract.jobTitle}}</div>
    <div class="full-date">od {{contract.startDate | date: 'dd.MM.yyyy r.' }}</div>
  </div>
  <div class="data row1 col2">
    <div class="profile-title">Zarobki</div>
    <div class="money">{{contract.salary}} zł</div>
    <div class="money-title">brutto miesięcznie</div>
    <div class="money">{{contract.salary * 12}} zł</div>
    <div class="money-title">brutto rocznie</div>
  </div>
  <div class="data row2 col1">
    <div class="profile-title">Dane osobowe</div>
    <div class="profile-subtitle">Data urodzenia</div>
    <div class="profile-content">{{person.birthday  | date: 'dd.MM.yyyy r.' }}</div>
    <div class="profile-subtitle">Adres zamieszkania</div>
    <div class="profile-content">ul. {{person.address.home}} {{person.address.flat}}<br>{{person.address.postalCode}} {{person.address.city}}</div>
  </div>
  <div class="data row2 col2">
    <div class="profile-title">Projekty</div>
    <div *ngFor="let usersProjects of person.projects" class="project">
      <div class="table-icon"></div>
      <div>
        <div class="project-title">{{usersProjects.description}}</div>
        <div class="project-principal">{{usersProjects.principal}}</div>
      </div>
    </div>
  </div>
</div>
</section>
