<div class="profile">
  <div class="data row1 col1">
    <div class="user-logo"></div>
    <div class="full-name">Urszula Kaźmierczyk</div>
    <div class="full-job-title">Senior Full Stack Developer</div>
    <div class="full-date">od 20.02.2014</div>
  </div>
  <div class="data row1 col2">
    <div class="profile-title">Zarobki</div>
    <div class="money">4 523 zł</div>
    <div class="money-title">brutto miesięcznie</div>
    <div class="money">52 523 zł</div>
    <div class="money-title">brutto rocznie</div>
  </div>
  <div class="data row2 col1">
    <div class="profile-title">Dane osobowe</div>
    <div class="profile-subtitle">Data urodzenia</div>
    <div class="profile-content">18.08.1996</div>
    <div class="profile-subtitle">Adres zamieszkania</div>
    <div class="profile-content">ul. Marii Dąbrowskiej 23/68<br>01-903 Warszawa</div>
  </div>
  <div class="data row2 col2">
    <div class="profile-title">Projekty</div>
    <div class="project">
      <div class="table-icon"></div>
      <div>
        <div class="project-title">Frontend testing</div>
        <div class="project-principal">Flying Bisons</div>
      </div>
    </div>
    <div class="project">
      <div class="table-icon"></div>
      <div>
        <div class="project-title">Frontend development</div>
        <div class="project-principal">Deloitte Digital</div>
      </div>
    </div>
  </div>
</div>
